.navbar{

    background-color: tan;
}

.navbar a {
    color: black;  
    margin: 20px;
}
.links{
    text-decoration: underline;


}



  .custom-container {
    background-color: aquamarine;
    width: min(100%, 800px);
    border-radius: 20px;
    border: 5px solid tan;
  
}

.container-fluid {
    padding: 0;
}

body {
    background-color: bisque;
}




.w-100{
    margin:0;
}

.form {
    margin: 20px;
}
.form-floating {
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    

}
.full-height {
    height: 100%;
}

  
h6 {
    font-weight: normal;
}
    
.btn {
    background-color: tan;
}
     



.footer{
   background-color: tan;
    height: 100px;
   
}

.copyright {

    margin:auto;
    text-align: center;
    margin-top: 30px;
    clear:top;
    color: black;
}




/* input{
    margin: right 10px;
} */

/* .socialmedia {
     margin-right:10px;
     float:right;
     margin-top:10px;
} */



